body{
    overflow-x: hidden;
    background-color: #0f291e;
    font-family: 'Manrope', sans-serif;
}

.MainDiv {
    margin-top: 7vw;
}

.Title{
    color: #fff;
    background-color: #fff;
    margin-top: -700px;
    margin-left: 31.75%;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 3px #fff solid;
}

.SubDiv11 {
    font-size: 100px;
    color: #EFF6EE;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    padding: 10px;
}

.SubDiv {
    font-size: 35px;
    color: rgb(253, 236, 255);
    background-color: rgb(16, 24, 32);
    border: 2px solid #fff;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 1.5vw;
    padding: 10px;
    border-radius: 30px;
}

.SubDiv1 {
    margin: -10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 35px;
    background-color: #797979;
    border-bottom: 2px #fff dashed;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}

.SubDiv2 {
    padding-top: 30px;
}

.ID {
    margin-left: 700px;
}

.IDNumber{
    background-color: rgb(16, 24, 32);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;
}
#inline {
    display:inline;
}

/* .Departure{

} */
/* .Arrive{
    
} */

.DepartDate{
    margin-left: 35px;
}
.Date{
    margin-left: 99px;
}

img{
    height: 100%;
    width: 110%;
    margin-top: -120px;
    margin-left: -10px;
    object-fit: cover;
}

.container {
    position: relative;
}

.hr {
    margin-top: 521px;
    margin-left: -8px;
    margin-right: -8px;
    border: 3px #fff solid;
}
.container2 {
    top: 400px;
    left: -10px;
    position: absolute;
    padding: 274px;
    padding-right: 1800px;
    max-height:5vw;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}

.Button a {
    position: absolute;
    bottom: -200px;
    margin-left: 650px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.Button a:hover {
    opacity: .5;
}

#section a {
    padding-top: 60px;
}

#section a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1.5px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1.5px solid #ffff;
    border-bottom: 1.5px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    animation: shadow 3s infinite;
    box-sizing: border-box;
}

@keyframes shadow {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(0,0,0,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}